@-webkit-keyframes carregamento {
  0% {
    width: 81.5%;
  }
  25% {
    width: 90%;
  }
  50% {
    width: 95%;
  }
  75% {
    width: 98%;
  }
  100% {
    width: 100%;
  }
}
@keyframes carregamento {
  0% {
    width: 81.5%;
  }
  25% {
    width: 90%;
  }
  50% {
    width: 95%;
  }
  75% {
    width: 98%;
  }
  100% {
    width: 100%;
  }
}
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Raleway", sans-serif;
}

html, body {
  overflow: hidden;
}

body {
  background: url(../images/bg-desktop.png) bottom no-repeat;
  background-color: hsl(229deg, 57%, 11%);
  background-size: contain;
  width: 100%;
  min-height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}
body main {
  width: 65%;
  height: 146px;
  display: flex;
}
body main .card-left {
  display: flex;
  flex-direction: column;
  padding: 23px;
  background-color: hsl(228deg, 56%, 26%);
  border-radius: 10px 100px 10px 10px;
  width: 314px;
  height: 172px;
}
body main .card-left .logo {
  width: 152px;
  padding: 13px;
  margin-bottom: 20px;
}
body main .card-left ul {
  list-style: none;
  display: flex;
  width: 182px;
  justify-content: space-around;
}
body main .card-left ul li {
  padding: 10px;
  background-color: hsl(229deg, 57%, 11%);
  border-radius: 7px;
  display: flex;
  align-items: center;
  cursor: pointer;
}
body main .card-left ul li:hover {
  background-color: hsl(243deg, 100%, 93%);
  transition: 2s;
  transform: scale(1.2);
}
body main .card-right {
  width: 100%;
  height: 172px;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  position: relative;
}
body main .card-right .main-text {
  position: absolute;
  top: 2px;
  right: 67px;
  background-color: hsl(243deg, 100%, 93%);
  width: 200px;
  line-height: 59px;
  font-size: 10px;
  text-align: center;
  border-radius: 10px 10px 1px 10px;
  font-size: 13px;
  font-weight: 400;
  color: hsl(229deg, 7%, 55%);
}
body main .card-right .main-text .valor-2 {
  font-size: 43px;
  color: hsl(229deg, 57%, 11%);
  font-weight: 700;
}
body main .card-right .main-text::after {
  content: "";
  border-top: 20px hsl(243deg, 100%, 93%) solid;
  border-right: 20px hsl(243deg, 100%, 93%) solid;
  border-bottom: 20px transparent solid;
  border-left: 20px transparent solid;
  position: absolute;
  right: 0;
  top: 40px;
}
body main .card-right .card-right-central {
  width: 624px;
  background-color: hsl(228deg, 56%, 26%);
  border-radius: 5px;
  height: 135px;
  padding: 29px;
}
body main .card-right .card-right-central .header-upload .top-text {
  color: hsl(229deg, 7%, 55%);
  font-size: 16px;
  font-weight: 400;
  margin-bottom: 10px;
}
body main .card-right .card-right-central .header-upload .top-text .valor-1 {
  color: hsl(243deg, 100%, 93%);
  font-size: 16px;
  font-weight: 400;
}
body main .card-right .card-right-central .middle-upload {
  display: flex;
  margin-bottom: 7px;
}
body main .card-right .card-right-central .middle-upload .barra {
  width: 100%;
  height: 20px;
  background-color: hsl(229deg, 57%, 11%);
  border-radius: 25px;
}
body main .card-right .card-right-central .middle-upload .barra .barra-input {
  background: rgb(255, 163, 153);
  background: linear-gradient(90deg, rgb(255, 163, 153) 0%, rgb(255, 77, 151) 100%);
  height: 16px;
  width: 81.5%;
  border-radius: 25px;
  margin-top: 2px;
  position: relative;
  -webkit-animation: carregamento 7s infinite ease-in-out;
          animation: carregamento 7s infinite ease-in-out;
}
body main .card-right .card-right-central .middle-upload .barra .barra-input::after {
  content: "";
  background-color: white;
  position: absolute;
  top: 0;
  right: 0;
  width: 16px;
  height: 16px;
  border-radius: 50%;
}
body main .card-right .card-right-central .down-upload {
  display: flex;
  justify-content: space-between;
  width: 1045px;
  color: hsl(243deg, 100%, 93%);
  font-weight: 400;
  font-size: 14px;
}
@media (max-width: 400px) {
  body {
    background: url(../images/bg-mobile.png) bottom no-repeat;
    background-size: cover;
  }
  body main {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 330px;
  }
  body main .card-left {
    margin-bottom: 10px;
  }
  body main .card-right .card-right-central {
    width: 315px;
    height: 168px;
  }
  body main .card-right .card-right-central .header-upload .top-text {
    font-size: 15px;
  }
  body main .card-right .card-right-central .main-text {
    top: 135px;
    right: 25px;
    border-radius: 15px;
  }
  body main .card-right .card-right-central .main-text::after {
    border: none;
  }
  body main .card-right .card-right-central .down-upload {
    justify-content: flex-end;
    width: 260px;
  }
  body main .card-right .card-right-central .down-upload .inicial {
    justify-content: flex-start;
    width: 205px;
  }
}/*# sourceMappingURL=main.css.map */